body {
  margin: 0;
}

h1 {
  font-size: 50px;
  color: #F8C91C;
  text-align: center;
  background-color: #1E2330;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  text-align: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  color: #f4f4f4
}

#footer {
  position: fixed;
  left: -12px;
  bottom: 9px;
  width: 100%;
  color: #000;
  text-align: right;
}

.container {
  width: 100%;
}

#homePageDes {
  width: 80%;
  border: 1px solid #000;
  padding: 28px;
  display: inline-block;
}